# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29
jupyter

# data science
numpy
pandas
tensorflow==2.5

# utilities
six>=1.14
joblib
memoized-property
termcolor

# WAV file packages
librosa
scipy #scipy.io.wavfile
IPython #play audio files
soundFile
wave
sounddevice
#pyaudio
wavio



#data viz
matplotlib
seaborn
plotly


# frontend
streamlit==1.2.0
